<!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
<!--   <div class="container"> -->
<!--     {{render "header"}} -->
<!--   </div> -->
<!-- </nav> -->

<div class="container">

  {{outlet}}

</div><!-- /.container -->
